{% extends 'base.html' %}

{% block contents %}
<!-- image upload start-->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if post %}
<img src="{{ post.document.url }}">
<p>File uploaded at: <a href="{{ post.document.url }}">{{ post.document }}</a></p>
{% endif %}

{% if post %}
<img src="{{ post.document1.url }}">
<p>File uploaded at: <a href="{{ post.document1.url }}">{{ post.document1 }}</a></p>
{% endif %}

<p><a href="{% url 'opencvweb' %}">Return to home</a></p>
<!-- image upload end -->
{%endblock%}